* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Pokemon Solid', sans-serif;
}

.header,
.footer {
  width: 100%;
  height: 50px;
  background-color: lightblue;
  text-shadow: 2px 2px rgb(255, 187, 0), 0 0 5px #0000FF;
}

.header ul {
  margin-right: 12px;
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.header li {
  padding: 0 12px;
  margin-right: 12px;
}

.header a {
  text-decoration: none;
  color: rgb(24, 24, 23);  
}


/*===========*/

#parent {
  margin: 24px 0;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 24px;
  justify-content: center;
  font-family: sans-serif;
}

#like i {
  margin-top: 5px;
  text-align: right;
  color: red;
  /* outline: blue solid 2px; */
}

.name {
  display: flex;
  align-items: center;
  margin: 12px;
  /* outline: red solid 2px; */
}
.no-of-likes {
  font-size: 11px;
  padding: 5px 0;
  text-align: right;
  /* outline: red solid 2px; */
}

.card {
 display: flex;
 justify-content: center;
 margin: 12px;
 border-radius: 5px;
}

.card-wrapper {
display: flex;
flex-direction: column;
align-items: center;
background-color: #a393eb;
border: gray solid 1px;
border-radius: 5px;
color: #2b2a2a;

font-family: Arial, sans-serif;
}

#pok-image {
width: 180px;
height: 200px;
margin: 5px;
}

.name-like-parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.like-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  /* outline: blue solid 2px; */
}

.comment {
  width: 100%;
  height: 25px;
  background-color: #fff;
  border: #fff solid 2px;
  color: gray;
  border-radius: 0;
  font-weight: 600;
}

.comment:hover {
  background-color: lightgray;
  border: lightgray;
}

.footer {
  position: absolute;
  bottom: -75px;
}

